$flex: flex;
$white: #ffff;
$black: #242424;
$gray-light: #f9f9f9;
$gray: #9e9e9e;
$gradient-green: linear-gradient(to bottom left, #4bcdc1, #2e8077);
$gradient-purple: linear-gradient(to bottom left, #4b0cc2, #3f09a1);
$gradient-blue: linear-gradient(to bottom left, #227fa3, #154d63);
$green-confirm: #44d0b9;
$bronce: #c2891f;
$gold: #dbae1a;
$platinum: #b4b4b4;
$primary-font: "Montserrat", sans-serif;

$enableGradient: true;
