@import "mixins";
@import "variables";

body {
  font-family: $primary-font;
  font-weight: 100;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

header {
  background: $white;
}

.search {
  padding: 20px 0;

  @if $flex == flex {
    display: $flex;
    @include flexProperties(
    unquote(alignItems),
    column,
    unquote(justifiContent)
    );
  }
}

img {
  width: 100%;

  .photo & {
    width: 500px;
    left: -101px;
    position: relative;
    height: 100%;
  }
}

.form {
  h1 {
    @include textAligtn(center);
    margin: 20px 0;
  }

  .photo {
    width: 279px;
    height: 279px;
    overflow: hidden;
    position: relative;
    display: flex;
    border-radius: 163px;
    margin: 20px auto;

    label {
      position: absolute;
      color: #fff;
      font-weight: 900;
      font-size: 39px;
      text-shadow: 2px 2px 2px black;
      top: 41%;
      left: 0;
      right: 0;
      @include textAligtn(center);
    }
  }

  button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    @include flexProperties(center, column, center);
  }

  &__contact {
    .group {
      display: flex;
      margin: 20px 0;
      @include flexProperties(
      unquote(alignItems),
      column,
      unquote(justifiContent)
      );

      label {
        font-size: 18px;
        margin-bottom: 2px;
      }

      select,
      input,
      textarea {
        border-color: $platinum;
        background: #242424;
        color: $white;
        font-size: 18px;
        padding: 5px;
      }

      &__flex-direction {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;

        input {
          flex-basis: 10%;
          margin: 0;
        }
      }
    }
  }
}

.text-align {
  @include textAligtn(center);
}

.navbar-brand {
  width: 57%;
}

button.navbar-toggler {
  width: initial;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 5px;
}

button {
  width: 100%;
  background: $green-confirm;
  border: none;
  border-radius: 3px;
  color: $white;
  padding: 5px 0;
  transition: 0.3s;

  &:hover {
    background: $hover-button;
    border-radius: 100px;
  }
}

.box-features {
  display: flex;
  @include flexProperties(unquote(alignItems), column, space-between);

  .box {
    border-radius: 3px;
    color: $white;
    padding: 80px 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    @include textAligtn(center);

    &:nth-child(1) {
      background: $gradient-green;
    }

    &:nth-child(2) {
      background: $gradient-purple;
    }

    &:nth-child(3) {
      background: $gradient-blue;
    }

    p {
      font-size: 16px;
      margin-top: 1rem;
    }
  }

  &.features_suscription {
    .box {
      background: $gray-light;
      color: $black;
      border: 1px solid $gray;
      flex-basis: 100%;

      &:nth-child(1) {
        h5 {
          color: $bronce;
        }
      }
      &:nth-child(2) {
        h5 {
          color: $gold;
        }
      }
      &:nth-child(3) {
        h5 {
          color: $platinum;
        }
      }

      .photo {
        width: 228px;
        height: 228px;

        label {
          font-size: 26px;
        }
      }
    }

    p {
      @include textAligtn(center);
    }
  }
}

.reservas {
  .box {
    border: 1px solid $gray;
    margin-bottom: 20px;

    a {
      display: flex;
      text-decoration: none;
      @include flexProperties(
      unquote(alignItems),
      column,
      unquote(justifiContent)
      );

      .caption {
        padding: 20px;
        flex-shrink: 2;
        @include textAligtn(center);
        font-size: 19px;

        p {
          color: $black;
          font-size: 19px;

          &:first-child {
            font-weight: 900;
          }
        }
      }

      .img {
        flex-basis: 68%;
      }
    }
  }
}

h2 {
  @include textAligtn(center);
  color: $black;
  margin-bottom: 60px;
}

hr {
  margin: 50px 0;
}

footer {
  background: $black;
  bottom: 0;
  width: 100%;
  color: $white;
  font-size: 12px;
  padding: 6px;
  margin-top: 50px;

  p {
    font-size: 12px;
    text-align: center;
    margin: 10px 0 0 0;
  }

  h2 {
    color: $white;
    margin-bottom: 45px;
    font-size: 21px;
  }
}

.wf-container {
  margin: 0 auto;

  &:before,
  &::after {
    content: '';
    display: table;
  }
}

.wf-container:after {
  clear: both;
}

.wf-box {
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

  .content {
    border: 1px solid #ccc;
    border-top-width: 0;
    padding: 5px 8px;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.wf-column {
  float: left;
}

#upload {
  opacity: 0;
}

.upload-photo {
  border: 1px solid $green-confirm;
  margin-top: 42px;
}

#upload-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

@media (min-width: 640px) {
  .navbar-brand {
    width: 31%;
  }

  .navbar-collapse {
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  img {
    .photo & {
      height: 300px;
    }
  }

  .navbar-brand {
    width: initial;
  }

  .navbar-collapse--direction {
    justify-content: flex-end;
  }

  .carousel-inner {
    .carousel-item {
      .carousel-caption {
        bottom: 0;
        background: $black;
        opacity: 0.6;
        width: 100%;
        left: 0;
        right: 0;
      }
    }
  }

  .search {
    margin: 50px 0;
    @include flexProperties(unquote(alignItems), row, unquote(justifiContent));
  }

  input {
    margin-right: 10px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    height: 40px;

    .gallery & {
      width: 300px;
      margin: 50px;
    }
  }

  .box-features {
    flex-direction: column;
    margin: 60px 0;

    .box {
      flex-basis: 30%;
      margin-right: 10px;

      &:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
      }
    }

    &.features_suscription {
      .box {
        .photo {
          width: 300px;
          height: 300px;

          label {
            font-size: 35px;
          }
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0 22px;
  }

  .form {
    &__contact {
      .group {
        select {
          width: 50%;
        }

        &__flex-direction {
          align-items: center;
          flex-direction: row-reverse;
          justify-content: flex-end;

          input {
            flex-basis: 10%;
            margin: 0;
          }

          button {
            flex-basis: 40%;
            margin: 0;
          }
        }
      }
    }
  }

  footer {
    padding: 50px;
  }
}

@media (min-width: 960px) {
  .reservas {
    .box {
      a {
        display: flex;
        @include flexProperties(
        unquote(alignItems),
        row,
        unquote(justifiContent)
        );
        text-decoration: none;

        .img {
          flex-basis: 68%;
          overflow: hidden;
          max-height: 371px;
          max-width: 280px;

          img {
            width: 575px;
            position: relative;
            top: 0;
            left: -145px;
          }
        }

        .caption {
          display: flex;
          @include flexProperties(center, column, space-around);

          button {
            width: 200px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .box-features {
    flex-direction: row;
    margin: 60px 0;

    &.features_suscription {
      flex-direction: column;
    }
  }

  .form {
    &__contact {
      .group__area-buttons {
        flex-direction: row;
        justify-content: space-between;

        button {
          margin: 20px 0;
          flex-basis: 40%;
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0;
  }

  footer {
    &.footer__custom {
      bottom: 0;
      position: absolute;
    }
  }
}

@media (min-width: 1236px) {
  .box-features {
    &.features_suscription {
      flex-direction: row;
    }
  }

  .carousel-inner--height {
    height: 630px;
  }

  .carousel-inner {
    .carousel-item {
      img {
        max-height: 629px;
      }
    }
  }
}

@media (min-width: 1700px) {
  .carousel-inner {
    .carousel-item {
      img {
        max-height: 100%;
        height: 100%;
        position: relative;
        bottom: 74px;
      }

      .carousel-caption {
        bottom: 325px;
      }
    }
  }
}

@media (min-width: 1750px) {
  .carousel-inner {
    .carousel-item {
      .carousel-caption {
        bottom: 350px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .carousel-inner {
    .carousel-item {
      .carousel-caption {
        bottom: 450px;
      }
    }
  }
}
